<a class="mx-1" href="@Href" target="_blank">
  <div class="h-8 text-gold w-8">
    <svg class="social-svg" style="border-radius: 50%; fill-rule: evenodd;" viewBox="0 0 64 64">
      <g class="social-svg-background" style="transition: fill 170ms ease-in-out 0s; fill: transparent;">
        <circle cx="32" cy="32" r="31"></circle>
      </g>
      <g class="social-svg-icon" style="transition: fill 170ms ease-in-out 0s; fill: transparent;">
        <path d="M43.5,29.7h-2.6c0.2,0.7,0.3,1.5,0.3,2.3 c0,5.1-4.1,9.2-9.2,9.2c-5.1,0-9.2-4.1-9.2-9.2c0-0.8,0.1-1.6,0.3-2.3h-2.6v12.7c0,0.6,0.5,1.2,1.2,1.2h20.8c0.6,0,1.2-0.5,1.2-1.2 V29.7z M43.5,21.6c0-0.6-0.5-1.2-1.2-1.2h-3.5c-0.6,0-1.2,0.5-1.2,1.2v3.5c0,0.6,0.5,1.2,1.2,1.2h3.5c0.6,0,1.2-0.5,1.2-1.2V21.6z  M32,26.2c-3.2,0-5.8,2.6-5.8,5.8c0,3.2,2.6,5.8,5.8,5.8s5.8-2.6,5.8-5.8C37.8,28.8,35.2,26.2,32,26.2 M43.5,47H20.5 c-1.9,0-3.5-1.6-3.5-3.5V20.5c0-1.9,1.5-3.5,3.5-3.5h23.1c1.9,0,3.5,1.5,3.5,3.5v23.1C47,45.4,45.5,47,43.5,47"></path>
      </g>
      <g class="social-svg-mask" style="transition: fill 170ms ease-in-out 0s; fill: @ColorHexCode;">
        <path d="M41.2,32c0,5.1-4.1,9.2-9.2,9.2c-5.1,0-9.2-4.1-9.2-9.2c0-0.8,0.1-1.6,0.3-2.3h-2.6v12.7c0,0.6,0.5,1.2,1.2,1.2 h20.8c0.6,0,1.2-0.5,1.2-1.2V29.7h-2.6C41.1,30.4,41.2,31.2,41.2,32z M32,37.8c3.2,0,5.8-2.6,5.8-5.8c0-3.2-2.6-5.8-5.8-5.8 c-3.2,0-5.8,2.6-5.8,5.8C26.2,35.2,28.8,37.8,32,37.8z M42.4,20.5h-3.5c-0.6,0-1.2,0.5-1.2,1.2v3.5c0,0.6,0.5,1.2,1.2,1.2h3.5 c0.6,0,1.2-0.5,1.2-1.2v-3.5C43.5,21,43,20.5,42.4,20.5z M0,0v64h64V0H0z M47,43.5c0,1.9-1.5,3.5-3.5,3.5H20.5 c-1.9,0-3.5-1.6-3.5-3.5V20.5c0-1.9,1.5-3.5,3.5-3.5h23.1c1.9,0,3.5,1.5,3.5,3.5V43.5z"></path>
      </g>
    </svg>
  </div>
</a>

@code
{
  /// <summary>
  /// Gets the colour this icon should be rendered in.
  /// Defaults to Instagram's blue if not set.
  /// </summary>
  [Parameter]
  public string ColorHexCode { get; set; } = "#3F729B";

  /// <summary>
  /// Gets the url this logo should link to on clicking.
  /// </summary>
  [Parameter]
  public Uri Href { get; set; }
}
