@page "/"
@using Mandarin.ViewModels.Index;
@inject IIndexPageViewModel ViewModel;

<MandarinCarousel />
<MandarinBar Class="mt-6" />

@foreach (var paragraph in ViewModel.Paragraphs)
{
  <MandarinText>@paragraph</MandarinText>
}

<MandarinBar class="mt-6" />

<div class="container flex flex-col justify-around md:flex-row mt-3 mx-auto self-center">
  <MandarinOpeningTimes class="mb-5 self-center" />
  <MandarinMap />
</div>
