@page "/"
@using Mandarin.Components.Index;
@using Mandarin.Components.Shared;
@using Mandarin.ViewModels
@inject IIndexPageViewModel ViewModel;

<MandarinCarousel />
<hr class="border-gold border-t-2 mt-3" />

@foreach (var paragraph in ViewModel.Paragraphs)
{
  <MandarinText>@paragraph</MandarinText>
}

<MandarinBar />

<div class="container flex flex-col justify-around md:flex-row mt-3 mx-auto self-center">
  <MandarinOpeningTimes class="mb-5 self-center" />
  <MandarinMap />
</div>
