@page "/"
@using Mandarin.Components.Index;
@using Mandarin.Components.Shared;
@using Mandarin.ViewModels
@inject IIndexPageViewModel ViewModel;

<hr class="border-gold border-t-2"/>

@foreach (var paragraph in ViewModel.Paragraphs)
{
  <MandarinText>@paragraph</MandarinText>
}

<MandarinBar />

<div class="container flex flex-col sm:flex-row mt-3">
  <MandarinOpeningTimes />
  <MandarinMap />
</div>
