@page "/the-mini-mandarin"
@using Mandarin.ViewModels.MiniMandarin
@inject IMiniMandarinPageViewModel ViewModel;

<MandarinImage ViewModel="@ViewModel.BannerImageViewModel" />
<MandarinBar Class="mt-6" />

<MandarinText>
  The Mini Mandarin is the younger sister of The Little Mandarin and is run by the baker of yummy treats in the
  family. Come drop by for handmade and hand finished ‘bearcarons’ – bear shaped macarons! Choose from three delightful
  flavours, chocolate, strawberry and matcha! Other special flavours pop up all year round and JUMBO sized macarons too,
  so come back to see what's new! The Mini Mandarin also offers a range of sweets and chocolates suitable for
  vegetarians and vegans - there's a treat for everyone! You can follow The Mini Mandarin on Instagram
  <a class="duration-200 ease-in-out hover:opacity-75 text-gold transition-opacity"
     href="https://instagram.com/theminimandarin_e17"
     target="_blank">
    @@theminimandarin_e17
  </a> to make sure you don't miss out!
</MandarinText>

<div class="flex flex-1 flex-row flex-wrap justify-center">
  @foreach (var macaronViewModel in ViewModel.MacaronImageViewModels)
  {
    <MandarinImage class="max-w-xs px-6 w-full" ViewModel="@macaronViewModel" />
  }
</div>
