@inherits LayoutComponentBase

<div class="align-middle bg-white flex flex-col min-h-full px-3 text-center">
  <RadzenMenu Style="z-index: 1000">
    <RadzenMenuItem Text="Home" Path="/admin" Icon="home" />
    <RadzenMenuItem Text="Artists" Path="/admin/artists" Icon="person" />
    <RadzenMenuItem Text="Inventory" Icon="storefront">
      <RadzenMenuItem Text="Stock" Path="/admin/inventory" Icon="fact_check" />
      <RadzenMenuItem Text="Fixed Commission Amounts" Path="/admin/inventory/fixed-commission-amounts" Icon="anchor" />
    </RadzenMenuItem>
    <RadzenMenuItem Text="Sales" Icon="attach_money">
      <RadzenMenuItem Text="Transactions" Path="/admin/transactions" Icon="attach_money" />
      <RadzenMenuItem Text="Records of Sale" Path="/admin/record-of-sales" Icon="point_of_sale" />
    </RadzenMenuItem>
  </RadzenMenu>

  @Body
</div>
