@inject NavigationManager Navigation

<Button Color="Color.Primary" Clicked="OnLogin">Log In</Button>

@code {

  private void OnLogin()
  {
    Navigation.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(Navigation.Uri)}");
  }

}
