@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
  <Authorized>
    Hello, @(context.User.Identity?.Name)!
    <button class="btn btn-link nav-link" @onclick="OnLogOut">Log out</button>
  </Authorized>
  <NotAuthorized>
    <a href="authentication/login">Log in</a>
  </NotAuthorized>
</AuthorizeView>

@code{

  private async Task OnLogOut(MouseEventArgs args)
  {
    await SignOutManager.SetSignOutState();
    Navigation.NavigateTo("authentication/logout");
  }

}
