@page "/inventory/fixed-commissions/edit/{ProductCode}"
<h3>Fixed Commission Edit</h3>

@code {

  /// <summary>
  /// Gets or sets the stockist code to be inspected.
  /// </summary>
  [Parameter]
  public string ProductCode { get; set; }

}
