@using Mandarin.ViewModels.Index.MandarinMap
@inject IMandarinMapViewModel ViewModel;

<div class="max-w-full md:w-1/2 self-center w-full">
  <iframe src="@ViewModel.MapUri" class="border-0 px-2 w-full" width="@ViewModel.Width" height="@ViewModel.Height" frameborder="0" allowfullscreen=""></iframe>
</div>
