@using Mandarin.ViewModels.Index.Carousel

<div class="w-full h-auto">
  <div class="carousel relative h-auto w-full mx-auto">
    @for (var i = ViewModel.Images.Count - 1; i >= 0; i--)
    {
      // First item must be relative to ensure it is placed in the DOM with it's full height/width.
      // Other items are then placed on top of the first image to allow the fade to form the carousel effect.
      if (i == ViewModel.Images.Count - 1)
      {
        <MandarinImage class="relative" ViewModel="@ViewModel.Images[i]" />
      }
      else
      {
        <MandarinImage class="absolute top-0 left-0 bottom-0 right-0" ViewModel="@ViewModel.Images[i]" />
      }
    }
  </div>
</div>

@code
{
  /// <summary>
  /// Gets or sets the view model for the carousel.
  /// </summary>
  [Parameter]
  public ICarouselViewModel ViewModel { get; set; }
}
