@page "/about"
@using Mandarin.ViewModels.About
@inject IAboutPageViewModel ViewModel;

<MandarinImage class="relative" ViewModel="@ViewModel.ImageViewModel" />

@ViewModel.MainContent

<div class="flex md:flex-row flex-col">
  <div class="md:mr-8 mr-0 align-middle self-center">@ViewModel.GiftCardContent</div>

  <div class="text-center align-middle self-center">
    <MandarinImage class="h-auto max-w-xs my-4 mx-auto" ViewModel="@ViewModel.GiftCardImageViewModel" />

    <div class="my-6">
      <a class="gift-card-button" href="https://squareup.com/gift/PT1RCJ52GTP8E/order" target="_blank">Buy eGift Card</a>
    </div>

    <div class="my-6">
      <a class="gift-card-button" href="https://squareup.com/gift/PT1RCJ52GTP8E/check-balance" target="_blank">Check eGift Card Balance</a>
    </div>
  </div>
</div>
