@page "/home"
@using Mandarin.ViewModels.Home
@inject IHomePageViewModel ViewModel;

<MandarinCarousel ViewModel="@ViewModel.CarouselViewModel" />

<hr class="mt-6" />

<div class="container flex flex-col justify-around md:flex-row mt-3 mx-auto self-center">
  <MandarinOpeningTimes ViewModel="@ViewModel.OpeningTimesViewModel" class="mb-5 self-center" />
  <MandarinMap ViewModel="@ViewModel.MapViewModel" />
</div>
