@page "/macarons"
@using Mandarin.ViewModels.Macarons
@inject IMacaronsPageViewModel ViewModel;

<MandarinImage ViewModel="@ViewModel.BannerImageViewModel" />
<hr Class="mt-6" />

@ViewModel.TextContent

<div class="flex flex-1 flex-row flex-wrap justify-center">
  @foreach (var macaronViewModel in ViewModel.MacaronImageViewModels)
  {
    <MandarinImage class="max-w-xs px-6 w-full" ViewModel="@macaronViewModel" />
  }
</div>
