@using Mandarin.ViewModels.Artists

<div class="ease-in-out duration-200 transition-opacity hover:opacity-75" @onclick="Clicked">
  <img class="object-none h-48" src="@ViewModel.ImageUrl" alt="@ViewModel.Name" />
  <span class="mt-2">@ViewModel.Name</span>
</div>

@code
{
  /// <summary>
  /// Gets or sets the backing data model for the artist.
  /// </summary>
  [Parameter]
  public IArtistViewModel ViewModel { get; set; }

  /// <summary>
  /// Gets or sets a handler that is fired on this component being clicked.
  /// </summary>
  [Parameter]
  public EventCallback Clicked { get; set; }
}
