<p class="@FullClass">@ChildContent</p>

@code
{
  private string FullClass => string.Join(" ", "font-body text-grey-normal text-center", MarginClass, Class ?? string.Empty);

  private string MarginClass => $"mt-{Margin} mb-{Margin}";

  [Parameter]
  public RenderFragment ChildContent { get; set; }

  [Parameter]
  public string Class { get; set; }

  [Parameter]
  public int Margin { get; set; } = 3;
}
