@page "/admin/artists"
@using Mandarin.Services
@using Mandarin.Models.Artists
@inject IArtistService ArtistService;

<Card>
  <CardHeader>
    <CardTitle>Show Artists</CardTitle>
  </CardHeader>
  <CardBody>
    @if (Data == null || Data.Count == 0)
    {
      <Progress Size="Size.Medium">
        <ProgressBar Striped="true" Animated="true" Min="0" Max="100" Value="100" Background="@(Data == null ? Background.Primary : Background.Danger)">
          @(Data == null ? "Fetching artists..." : "No artist data received.")
        </ProgressBar>
      </Progress>
    }
    else
    {
      <div class="overflow-x-auto">
        <DataGrid Data="@Data" Filterable="true" ShowPager="true" PageSize="10" Striped="true" RowSelectable="@(_ => false)">
          <DataGridColumn TItem="ArtistDetailsModel" Field="StockistCode" Caption="Code" Width="75px" />
          <DataGridColumn TItem="ArtistDetailsModel" Field="Name" Caption="Name" TextAlignment="TextAlignment.Right" />
          <DataGridColumn TItem="ArtistDetailsModel" Field="Description" Caption="Description" TextAlignment="TextAlignment.Right" />
          <DataGridColumn TItem="ArtistDetailsModel" Field="ImageUrl" Caption="Public Image Url" TextAlignment="TextAlignment.Right" />
          <DataGridColumn TItem="ArtistDetailsModel" Field="TwitterUrl" Caption="Twitter Handle" TextAlignment="TextAlignment.Right" />
          <DataGridColumn TItem="ArtistDetailsModel" Field="InstagramUrl" Caption="Instagram Handle" TextAlignment="TextAlignment.Right" />
          <DataGridColumn TItem="ArtistDetailsModel" Field="FacebookUrl" Caption="Facebook Handle" TextAlignment="TextAlignment.Right" />
          <DataGridColumn TItem="ArtistDetailsModel" Field="TumblrUrl" Caption="Tumblr Handle" TextAlignment="TextAlignment.Right" />
          <DataGridColumn TItem="ArtistDetailsModel" Field="WebsiteUrl" Caption="Website Link" TextAlignment="TextAlignment.Right" />
        </DataGrid>
      </div>
    }
  </CardBody>
</Card>

@code
{
  /// <inheritdoc />
  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    Data = await ArtistService.GetArtistDetailsForCommissionAsync();
  }

  private IReadOnlyList<ArtistDetailsModel> Data { get; set; }
}
