@page "/admin/inventory"
@using Mandarin.Services
@using Square.Models
@using System.Reactive.Linq
@using System.Reactive.Threading.Tasks
@inject IInventoryService InventoryService;

<div class="flex flex-col flex-grow">
  <table class="text-left">
    <thead>
    <tr>
      <th>#</th>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < inventory.Count; i++)
    {
      <tr>
        <td>@(i)</td>
        <td>@(inventory[i].Id)</td>
        <td>@(inventory[i].ItemData.Name)</td>
        <td>@(inventory[i].ItemData.Description)</td>
      </tr>
    }
    </tbody>
  </table>
</div>

@code
{
  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    inventory = await InventoryService.GetInventory().ToList().ToTask();
  }

  private IList<CatalogObject> inventory = new List<CatalogObject>();
}
