@using Mandarin.Components.Navigation;
@inherits LayoutComponentBase

<div class="align-middle bg-white container flex flex-col min-h-full max-w-4xl md:px-8 mx-auto px-3 text-center">
  <MandarinHeader />
  <div>@Body</div>
  <div class="flex-grow"></div>
  <MandarinFooter />
</div>
