@page "/artists"
@using Bashi.Core.Extensions
@using Mandarin.Stockists
@inject IStockistService StockistService;
@inject NavigationManager NavigationManager;

<Card>
  <CardHeader>
    <CardTitle>All Artists</CardTitle>
    <CardActions Float="Float.Right">
      <Button Color="Color.Primary" Clicked="@OnNewClicked">New</Button>
    </CardActions>
  </CardHeader>
  <CardBody>
    @if (data == null)
    {
      <MandarinProgressBar>Fetching artists...</MandarinProgressBar>
    }
    else
    {
      <div class="overflow-x-auto">
        <DataGrid TItem="Stockist" Data="@data" Filterable="true" ShowPager="true" PageSize="10" Striped="true" Responsive="true"
                  SelectedRowChanged="@OnStockistSelected">
          <DataGridColumn TItem="Stockist" Field="StockistCode" Caption="Code" Width="75px" />
          <DataGridColumn TItem="Stockist" Field="Details.DisplayName" Caption="Name" TextAlignment="TextAlignment.Right" />
          <DataGridColumn TItem="Stockist" Field="StatusCode" Caption="Status" TextAlignment="TextAlignment.Right">
            <DisplayTemplate>@context.StatusCode.GetDescription()</DisplayTemplate>
          </DataGridColumn>
        </DataGrid>
      </div>
    }
  </CardBody>
</Card>

@code
{
  private IReadOnlyList<Stockist> data;

  /// <inheritdoc />
  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    data = await StockistService.GetStockistsAsync();
  }

  private void OnNewClicked()
  {
    NavigationManager.NavigateTo("/artists/new");
  }

  private void OnStockistSelected(Stockist selectedStockist)
  {
    NavigationManager.NavigateTo($"/artists/edit/{selectedStockist.StockistCode}");
  }
}
