<Router AppAssembly="@typeof(Program).Assembly">
  <Found Context="routeData">
    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(PublicLayout)">
      <NotAuthorized>
        <RedirectTo Href="/home" />
      </NotAuthorized>
    </AuthorizeRouteView>
  </Found>
  <NotFound>
    <LayoutView Layout="@typeof(PublicLayout)">
      <p>Sorry, there's nothing at this address.</p>
    </LayoutView>
  </NotFound>
</Router>
