<div class="flex sm:flex-row flex-col @Class">
  <MandarinNavigationItem Href="about">About</MandarinNavigationItem>
  <MandarinNavigationItem Href="the-mini-mandarin">The Mini Mandarin</MandarinNavigationItem>
  <MandarinNavigationItem Href="artists">Artists</MandarinNavigationItem>
  <MandarinNavigationItem Href="contact">Contact Us</MandarinNavigationItem>
</div>

@code
{
  [Parameter]
  public string Class { get; set; }
}
