<div class="container mt-3 mx-auto text-center">
  <MandarinBar />
  <div class="content-center flex justify-center mt-2 mx-auto">
    <InstagramIcon ColorHexCode="#C9B85B" Href="@instagramUri" />
  </div>
  <MandarinText class="text-xs">Copyright © 2020 The Little Mandarin</MandarinText>
</div>

@code
{
  private readonly Uri instagramUri = new Uri("https://instagram.com/thelittlemandarin_e17/");
}
