@using Mandarin.ViewModels.Components.Navigation
@inject IMandarinHeaderViewModel ViewModel

<div class="mx-auto text-center w-full">
  <hr Class="mb-8 mt-5" />
  <MandarinImage class="h-12 mx-auto w-12" ViewModel="@ViewModel.LogoImageViewModel" />
  <h1 class="font-title text-3xl text-gold">The Little Mandarin</h1>
  <hr Class="mt-6" />
  <MandarinNavigation Class="mb-6" />
</div>
