<div class="flex-1">
  <NavLink class="block hover:opacity-50 text-grey-normal text-xs text-center py-1 transition-colors transition-opacity duration-200 ease-in-out"
           ActiveClass="bg-gold text-white hover:opacity-100 cursor-default"
           Match="NavLinkMatch.All"
           href="@Href">@ChildContent</NavLink>
</div>

@code
{
  [Parameter]
  public RenderFragment ChildContent { get; set; }

  [Parameter]
  public string Href { get; set; }
}
