@using Mandarin.Components.Icons;
@using Mandarin.Components.Shared;

<div class="container mt-3 mx-auto text-center">
  <MandarinBar />
  <div class="mt-2 mx-auto content-center flex justify-center">
    <InstagramIcon ColorHexCode="#C9B85B" Href="https://instagram.com/thelittlemandarin_e17/"/>
  </div>
  <MandarinText class="text-xs">Copyright © 2020 The Little Mandarin</MandarinText>
</div>
