@using Mandarin.Components.Shared;

<div class="container mx-auto text-center">
  <MandarinBar Class="mb-8 mt-5" />
  <img alt="The Little Mandarin" class="h-12 mx-auto w-12" src="images/logo.png" />
  <h3 class="font-title text-3xl text-gold">The Little Mandarin</h3>
  <MandarinBar Class="mt-6" />
  <MandarinNavigation Class="mb-6" />
</div>
