<div class="flex-1">
  <NavLink class="font-body block hover:opacity-50 text-grey-normal text-xs text-center py-1 transition-colors transition-opacity duration-200 ease-in-out"
           ActiveClass="bg-gold text-white hover:opacity-100 cursor-default"
           Match="NavLinkMatch.All"
           href="@Href">@ChildContent</NavLink>
</div>

@code
{
  /// <summary>
  /// Gets or sets the additional child content inside the NavLink element.
  /// </summary>
  [Parameter]
  public RenderFragment ChildContent { get; set; }

  /// <summary>
  /// Gets or sets the url for the NavLink element to navigate to.
  /// </summary>
  [Parameter]
  public string Href { get; set; }
}
